html, body{

    font-family: Arial, sans-serif;

    background: #2c3d55;

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.content{
    padding: 80px 10% 20px 10%;

    line-height: 1.5;
    letter-spacing: 1px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content::-webkit-scrollbar { 
    display: none; 
}

.content .component-header{
    font-size: 48px;
    color: #eac435;
}

@media only screen and (max-width: 767px){
    .content{
        padding: 60px 5px 5px 5px;
    }

    body .nav-bar{
        display: none;
    }

    .hamburger{
        display: flex;
    }
}


// for md boostrap custom css
.carousel .carousel-indicators{
    bottom: -100px !important;
}