html, body{

    font-family: Arial, sans-serif;

    background: #2c3d55;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.content{
    padding: 20px 10%;

    line-height: 1.5;
    letter-spacing: 1px;
    width: 80%;
}