.content{

    height: 100%;
    
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ),
      url(../../assets/abstract-background-blur-949587.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    padding-top: 7.5%;
}

.content *{
    color: #ECEBE4;
    
}

.content .inner-container{

    transition-property: transform;
    transition-duration: 1s;



    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;

    position: relative;
}

.content .border-element{
    border-bottom: 2.5px solid #EAC435;
    width: 100%;
    height: calc(100% - 20px);

    position: absolute;

    transition-property: width;
    transition-duration: 1s;
    width: 0;
}

.content .basic-info{
    text-transform: uppercase;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    transition-property: transform, height;
    transition-duration: 1s;
    
    text-align: end;
    

    height: 150px;

    margin: 0 60px;
}

.content .nav-buttons{
    height: 500px;

    margin-top: 5%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    text-transform: uppercase;
    letter-spacing: 1px;
}

.content .name{
    animation-delay: 0.5s;

    font-size: 28px;

    margin: 20px 0;
}

.content .description{
    animation-delay: 1s;

    font-size: 16px;
}




.content .about{ animation-delay: 5s;}
.content .portfolio{ animation-delay: 5.5s;}
.content .contact{ animation-delay: 6s; }

.nav-buttons .nav-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-buttons .nav-button-container h2{
    margin-bottom: 20px;

    font-size: 24px;
}

.nav-buttons .bottom-border-element{
    width: 0;
    border-bottom: 3px solid #EAC435;

    transition-property: width;
    transition-duration: 0.5s;
}

.nav-button-container:hover{
    cursor: pointer;
}

.nav-button-container:hover .bottom-border-element{
    width: 50%;
}








.rotate-neg90{
    transform: rotate(-90deg);
}

.rotate-90{
    transform: rotate(90deg);

}

.inner-container .increase-height{
    height: 500px;
}

.inner-container .increase-width{
    width: 250px;
}

@media only screen and (max-width: 767px){
    .content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        padding-top: 40%;
    }

    .content .inner-container{
        margin: 0;
        width: 100%
    }

    .content .inner-container .basic-info{
        padding: 40px 0;
        text-align: center;
    }

    .inner-container .increase-height{
        height: 150px;
    }

    .inner-container .increase-width{
        width: 300px;
    }


    .rotate-neg90{
        transform: none;
    }
    
    .rotate-90{
        transform: none;
    
    }

    .content .nav-buttons{
        flex-direction: row;
        height: auto;

        margin: 0;
        padding: 10px;

        width: 100%;

    }

    .content .nav-buttons h2{
        margin: 0 20px;
    }

    .content .about{ animation-delay: 3s;}
    .content .portfolio{ animation-delay: 3.5s;}
    .content .contact{ animation-delay: 4s; }
}

@media only screen and (max-width: 480px){
    .content .inner-container .basic-info h4{
        font-size: 12px;

    }

    .content .nav-buttons h2{
        font-size: 16px;
    }
}