.content{
    padding-top: 150px;
}

.content .top-info{
    display: flex;

}

.headshot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headshot img{
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    width: 300px;
}

.content .information{
    width: calc(100% - 300px);

    padding: 0 20px;

    color: #ecebe4;

    text-align: justify;
}

.content .information p{
    margin: 0;
}



.skills{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;

    margin-top: 20px;
}

.skills .individual-skill{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: #3A5070;
    padding: 15px 10px;

    margin: 5px 10px 5px 0;
    width: 310px;
}

.skills .individual-skill .skill-icon{

    width: 40px;
    font-size: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 10px;

    color: #eac435;

    border-right: 1px solid #456990;
}

.individual-skill .skill-info{
    color: #ecebe4;
    padding-left: 10px;
}

.individual-skill .skill-info .skill-name{
    font-size: 14px;
}


.individual-skill .skill-proficiency{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 12px;
}

.individual-skill .proficiency-bar{
    width: 100px;
    height: 10px;

    background: #2c3d55;

    border-radius: 5px;

    margin-right: 10px;
}

.individual-skill .proficiency-bar .inner-proficiency-bar{
    height: 100%;
    background: #eac435;

    border-radius: 5px;
}

.Basic{
    width: 50%;
}

.Intermediate{
    width: 65%;
}

.Proficient{
    width: 75%;
}

.Advanced{
    width: 85%;
}

.Expert{
    width: 95%;
}

@media only screen and (max-width: 767px) {
    .content{
        padding: 150px 20px 10px 20px;
    }
    .content .top-info{
        flex-direction: column;
    }

    .content .information{
        width: 100%;
        padding: 20px 0;

        font-size: 12px;
    }

    .skills .individual-skill{
        width: 100%;
        margin: 0 0 10px 0;
    }
}